body{
    background-color: violet;
}
.cell{
    width:85px;
    height:85px;
    background-color : grey;
    border-radius: 10px;
    margin: 1px;

}
.game{
    display:flex;
    flex-direction: column;
}
.first-row{
    display:flex;
}
.second-row{
    display:flex;
}
.third-row{
    display:flex;
}